<div class="burger-menu js-burger-menu">
  <div class="wrapper-mob-menu">
    <div class="container-logo-btn">
      <a class="logo js-logo" href="#hero">
        <svg
          class="logo"
          viewBox="0 0 307 115"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M57 2H245V27H247V2V0H245H57H55V2V27H57V2ZM57 87H55V113V115H57H245H247V113V87H245V113H57V87Z"
            fill="white"
          />
          <text
            x="49%"
            y="65%"
            font-size="50"
            font-family="Arial, sans-serif"
            fill="white"
            text-anchor="middle"
          >
            MAHLZEIT
          </text>
        </svg>
      </a>
      <button
        type="button"
        class="btn-close-menu js-close-menu"
        aria-label="Close menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          width="32"
          height="32"
        >
          <path
            d="M18 6L6 18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M6 6L18 18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </div>

    <div class="wrapper-mob-nav">
      <ul class="mob-menu_list">
        <li class="mob-menu-item">
          <a href="#home" class="mob-menu-link js-menu-link">Startseite</a>
        </li>
        <li class="mob-menu-item">
          <a href="#menu" class="mob-menu-link js-menu-link">Menü</a>
        </li>
        <!-- <li class="mob-menu-item">
          <a href="#story" class="mob-menu-link js-menu-link">Über uns</a>
        </li> -->
        <li class="mob-menu-item">
          <a href="#gallery-menu" class="mob-menu-link js-menu-link">Galerie</a>
        </li>
        <li class="mob-menu-item">
          <a href="#contact" class="mob-menu-link js-menu-link">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</div>
