<header class="header">
  <nav class="navigation">
    <a href="#home" class="logo">
      <svg
        width="200"
        height="115"
        viewBox="0 0 307 115"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M57 2H245V27H247V2V0H245H57H55V2V27H57V2ZM57 87H55V113V115H57H245H247V113V87H245V113H57V87Z"
          fill="white"
        />
        <text
          x="49%"
          y="65%"
          font-size="50"
          font-family="Arial, sans-serif"
          fill="white"
          text-anchor="middle"
        >
          MAHLZEIT
        </text>
      </svg>
    </a>

    <ul class="nav-list">
      <li class="nav-link"><a href="#home">Startseite</a></li>
      <li class="nav-link"><a href="#menu">Menü</a></li>
      <li class="nav-link"><a href="#story">Über uns</a></li>
      <li class="nav-link"><a href="#gallery-menu">Galerie</a></li>
      <li class="nav-link"><a href="#contact">Kontakt</a></li>
    </ul>
  </nav>
</header>
