<section id="home" class="home">
  <div class="container">
    <div class="wrapper-title-home">
      <h1>Hausgemachte ukrainische Küche in Deutschland:</h1>
      <h2>Traditionen mit Herz geschaffen</h2>
      <img src="/img/main-image.jpg" alt="Main image" />
    </div>

    <div class="wrapper-content">
      <div class="place">
        <img src="gallery/full/1.jpg" alt="place" />
        <h3>Ein Geschmack, der an Zuhause erinnert</h3>
        <p>
          Unsere Gerichte werden mit Liebe und nach authentischen ukrainischen
          Rezepten zubereitet
        </p>
      </div>
      <div class="lamp">
        <p>
          Wir verwenden nur die besten Gewürze, um den echten Geist der
          ukrainischen Küche zu bewahren
        </p>
        <img src="gallery/full/2.jpg" alt="lamp" />
      </div>
    </div>
  </div>
</section>
