<section id="home" class="home">
  <div class="container">
    <div class="wrapper-title-home">
      <h1 data-aos="fade-down" data-aos-duration="2000">
        Imbiss Mahlzeit – erlesene Gerichte und kulinarische Entdeckungen
      </h1>
      <div class="bg-image"></div>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="services">
      <h2 data-aos="fade-up" data-aos-duration="1000" class="item">
        Gesunde essen
      </h2>
      <div class="test">
        <ul
          data-aos="fade-left"
          data-aos-duration="2000"
          class="list-item left"
        >
          <li class="item">Fingerfood</li>
          <li class="item">Essen zum Mitnehmen</li>
        </ul>
        <div
          data-aos="fade-up"
          data-aos-duration="1500"
          class="white-line"
        ></div>
        <ul
          data-aos="fade-right"
          data-aos-duration="2000"
          class="list-item right"
        >
          <li class="item">Partyservice</li>
          <li class="item">Frisch gekochte gerichte</li>
        </ul>
      </div>
    </div>
      <div class="lamp">

        <img
          data-aos="fade-up"
          data-aos-duration="2000"
          src="img/services.jpeg"
          alt="lamp"
        />
        <p data-aos="fade-up" data-aos-duration="2000">
          Wir verwenden nur ausgewählte Gewürze, um die Seele der ukrainischen
          Küche zu bewahren
        </p>
      </div>
    </div>
  </div>
</section>
