<section id="home" class="home">
  <div class="container">
    <div class="wrapper-title-home">
      <h1 data-aos="fade-down" data-aos-duration="2000">
        Hausgemachte ukrainische Küche in Deutschland:
      </h1>
      <h2 data-aos="fade-up" data-aos-duration="2000">
        Traditionen mit Herz geschaffen
      </h2>
      <img
        data-aos="fade-left"
        data-aos-duration="2000"
        src="/img/main-image.jpg"
        alt="Main image"
      />
    </div>

    <div class="wrapper-content">
      <div class="place">
        <img
          data-aos="fade-up"
          data-aos-duration="2000"
          src="gallery/full/1.jpg"
          alt="place"
        />
        <h3 data-aos="fade-up" data-aos-duration="2000">
          Ein Geschmack, der an Zuhause erinnert
        </h3>
        <p data-aos="fade-up" data-aos-duration="2000">
          Unsere Gerichte werden mit Liebe und nach authentischen ukrainischen
          Rezepten zubereitet
        </p>
      </div>
      <div class="lamp">
        <p data-aos="fade-up" data-aos-duration="2000">
          Wir verwenden nur die besten Gewürze, um den echten Geist der
          ukrainischen Küche zu bewahren
        </p>
        <img
          data-aos="fade-up"
          data-aos-duration="2000"
          src="gallery/full/2.jpg"
          alt="lamp"
        />
      </div>
    </div>
  </div>
</section>
