<section class="menu-mahlzeit-full">
  <div class="container">
    <div class="wrapper-text-title">
      <h2>HAUPTGERICHTE</h2>
      <p>
        Genießen Sie unsere köstlichen Hauptgerichte, die mit frischen Zutaten
        und viel Liebe zubereitet werden. Entdecken Sie authentische Aromen und
        lassen Sie sich von unserer Küche verwöhnen.
      </p>
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <p class="price">3,50 €</p>
        <h3>Kiewer Kotelett</h3>
        <p>Hähnchenbrustfilet, Butter, Ei, Salz, Pfeffer, Öl</p>
      </li>
      <li class="menu-item">
        <p class="price">3,00 €</p>
        <h3>Fleischfrikadellen</h3>
      </li>
      <li class="menu-item">
        <p class="price">6,00 €</p>
        <h3>Schweinefleisch mit karamellisierten Zwiebeln und Paprika</h3>
        <p>
          Schweinefleisch, Paprika, Zwiebeln, Balsamico-Essig, Salz, Gewürze
        </p>
      </li>
      <li class="menu-item">
        <p class="price">7,00 €</p>
        <h3>Gefüllte Fleischröllchen</h3>
        <p>Rindfleisch, Salz, Pfeffer</p>
      </li>
      <li class="menu-item">
        <p class="price">2,20 €</p>
        <h3>Kohlrouladen in Tomatensauce</h3>
        <p>
          Rindfleisch, Schweinefleisch, Reis, Kohl, Zwiebeln, Karotten,
          Tomatenmark, Salz, Gewürze
        </p>
      </li>
      <li class="menu-item">
        <p class="price">1,30 €</p>
        <h3>Pfannkuchen mit Hühnerfleisch</h3>
        <p>
          Hühnerfleisch, Zwiebeln, Mehl, Eier, Milch, Salz, schwarzer Pfeffer
        </p>
      </li>
      <li class="menu-item">
        <p class="price">3,50 €</p>
        <h3>Gefüllte Paprika mit Fleisch und Reis</h3>
        <p>Paprika, Reis, Möhre, Zwiebeln, Tomaten, Salz, Gewürzе</p>
      </li>
      <li class="menu-item">
        <p class="price">3,50 €</p>
        <h3>Hähnchenkotelett</h3>
        <p>Rindfleisch, Käse, Ei, Soße, Zwiebeln, Salz, schwarzer Pfeffer</p>
      </li>
      <li class="menu-item">
        <p class="price">6,00 €</p>
        <h3>Schweinekotelett, gebackene Kartoffeln mit Tomaten und Käse</h3>
      </li>
      <li class="menu-item">
        <p class="price">6,00 €</p>
        <h3>
          Zucchinipfannkuchen gefüllt mit Hühnerfleisch, Champignons und Käse
        </h3>
      </li>
      <li class="menu-item">
        <p class="price">6,00 €</p>
        <h3>Brizol mit Gemüse und Käse</h3>
      </li>
      <li class="menu-item">
        <p class="price">6,00 €</p>
        <h3>Rindfleischfrikadellen mit Champignons in Sahnesauce</h3>
      </li>
    </ul>

    <div class="wrapper-text-title">
      <h2>SUPPE DES TAGES</h2>
      <p>
        Unsere täglich frisch zubereitete Suppe des Tages ist die perfekte Wahl
        für eine warme und köstliche Mahlzeit. Lassen Sie sich überraschen und
        genießen Sie den Geschmack der Saison.
      </p>
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <p class="price">4,00 €</p>
        <h3>Borschtsch (300 gr)</h3>
        <p></p>
      </li>
      <li class="menu-item">
        <p class="price">6,00 €</p>
        <h3>Borschtsch (500 gr)</h3>
      </li>
    </ul>

    <div class="wrapper-text-title">
      <h2>SALATE</h2>
      <p>
        Frische, knackige Salate mit sorgfältig ausgewählten Zutaten und
        hausgemachten Dressings. Perfekt für eine leichte und gesunde Mahlzeit.
      </p>
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <p class="price">3,00 €</p>
        <h3>Rindfleischsalat</h3>
      </li>
      <li class="menu-item">
        <p class="price">2,50 €</p>
        <h3>Waldorfsalat</h3>
      </li>
      <li class="menu-item">
        <p class="price">2,50 €</p>
        <h3>Salat mit Roter Bete, Möhre, Essiggurken</h3>
      </li>
      <li class="menu-item">
        <p class="price">1,75 €</p>
        <h3>Salat mit Blumenkohl, Tomaten und Bohnen</h3>
      </li>
    </ul>

    <div class="wrapper-text-title">
      <h2>BEILAGEN</h2>
      <p>
        Leckere Beilagen, die perfekt zu unseren Hauptgerichten passen. Frisch
        zubereitet und voller Geschmack – die ideale Ergänzung zu Ihrer
        Mahlzeit.
      </p>
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <p class="price">3,00 €</p>
        <h3>Reis mit Gemüse</h3>
        <p>Reis, Erbsen, Bohnen, Salz, Gewürze</p>
      </li>
      <li class="menu-item">
        <p class="price">3,00 €</p>
        <h3>Kartoffelpüree</h3>
      </li>
      <li class="menu-item">
        <p class="price">3,00 €</p>
        <h3>Bratkartoffeln</h3>
        <p>Kartoffeln, Öl, Zwiebeln, Salz, Gewürze</p>
      </li>
    </ul>

    <div class="wrapper-text-title">
      <h2>GETRÄNKE</h2>
      <p>
        Genießen Sie eine Tasse aromatischen Kaffees oder einen erfrischenden,
        frisch gepressten Saft – perfekt für eine kleine Auszeit.
      </p>
    </div>
    <ul class="menu-list">
      <li class="menu-item">
        <p class="price">2,00 €</p>
        <h3>Kaffee</h3>
      </li>
      <li class="menu-item">
        <p class="price">3,00 €</p>
        <h3>Latte Macchiato, Cappuccino</h3>
      </li>
      <li class="menu-item">
        <p class="price">1,50 €</p>
        <h3>Saft</h3>
      </li>
    </ul>
  </div>
</section>
