<section id="menu" class="menu">
  <div class="container">
    <div class="leaves-top"></div>
    <div>
      <div class="wrapper-text-menu">
        <h2 data-aos="fade-up" data-aos-duration="1500">Unser Menü</h2>
        <p data-aos="fade-up" data-aos-duration="1500">
          Entdecken Sie unsere vielfältige Auswahl an authentischen ukrainischen
          Gerichten. Ob für den Alltag oder besondere Anlässe – bei uns finden
          Sie das perfekte Gericht.
        </p>
      </div>
      <ul
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-duration="1000"
        data-aos-offset="0"
        class="menu-list"
      >
        <li class="menu-item">
          <p class="price">6,00 €</p>
          <h3>
            Zucchinipfannkuchen gefüllt mit Hühnerfleisch, Champignons und Käse
          </h3>
        </li>
        <li class="menu-item">
          <p class="price">2,20 €</p>
          <h3>Kohlrouladen in Tomatensauce</h3>
          <p>
            Rindfleisch, Schweinefleisch, Reis, Kohl, Zwiebeln, Karotten,
            Tomatenmark, Salz, Gewürze
          </p>
        </li>
        <li class="menu-item">
          <p class="price">3,50 €</p>
          <h3>Kiewer Kotelett</h3>
          <p>Hähnchenbrustfilet, Butter, Ei, Salz, Pfeffer, Öl</p>
        </li>
        <li class="menu-item">
          <p class="price">6,00 €</p>
          <h3>Brizol mit Gemüse und Käse</h3>
        </li>
      </ul>
    </div>
  </div>
  <button class="button-menu js-button-menu">Zeige mehr</button>
</section>
