<section id="menu" class="menu">
  <div class="container">
    <div class="leaves-top"></div>
    <div>
      <div class="wrapper-text-menu">
        <h2>Unser Menü</h2>
        <p>
          Entdecken Sie unsere vielfältige Auswahl an hausgemachten ukrainischen
          Gerichten. Ob für den Alltag oder für besondere Anlässe – wir haben
          das perfekte Menü für Sie
        </p>
      </div>
      <ul class="menu-list">
        <li class="menu-item">
          <p class="price">6,00 €</p>
          <h3>
            Zucchinipfannkuchen gefüllt mit Hühnerfleisch, Champignons und Käse
          </h3>
        </li>
        <li class="menu-item">
          <p class="price">2,20 €</p>
          <h3>Kohlrouladen in Tomatensauce</h3>
          <p>
            Rindfleisch, Schweinefleisch, Reis, Kohl, Zwiebeln, Karotten,
            Tomatenmark, Salz, Gewürze
          </p>
        </li>
        <li class="menu-item">
          <p class="price">3,50 €</p>
          <h3>Kiewer Kotelett</h3>
          <p>Hähnchenbrustfilet, Butter, Ei, Salz, Pfeffer, Öl</p>
        </li>
        <li class="menu-item">
          <p class="price">6,00 €</p>
          <h3>Brizol mit Gemüse und Käse</h3>
        </li>
      </ul>
    </div>
  </div>
  <button class="button-menu js-button-menu">Zeige mehr</button>
</section>
