.contact {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 70px;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 20px;
  color: #4d4d4d;
  margin-bottom: 70px;

  @include media(desktop) {
    text-align: center;
  }

  h2 {
    text-align: center;
    color: black;
    @include font(42, 50);

    @include media(desktop) {
      @include font(108, 120);
    }
  }
}

.container-contant {
  display: flex;
  flex-direction: column;
  position: relative;
  @include media(desktop) {
    gap: 200px;
  }
}

.wrapper-contact {
  display: flex;
  flex-direction: column;
  height: 400px;
  @include media(desktop) {
    flex-direction: row;
    height: 800px;
  }

  img {
    width: 230px;
    height: 270px;
    position: absolute;
    top: 25%;
    border-radius: 10px;

    @include media(desktop) {
      top: 15%;
      width: 600px;
      height: 800px;
      position: absolute;
    }
  }
}

.contact-information {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -16%;
  right: 0%;

  @include media(desktop) {
    top: 0%;
    right: 0;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }

  svg {
    width: 200px;
    height: 230px;
    opacity: 0.5;
    @include media(desktop) {
      width: 448px;
      height: 427px;
    }
  }
}

.email-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #233000;
  @include font(18, 30);
  width: 345px;
  font-weight: 600;

  @include media(desktop) {
    align-items: flex-start;
    @include font(32, 48);
    font-weight: 700;
    width: 600px;
  }

  a {
    color: #9caa00;
    line-height: 1.6;
  }
}

.wrapper-location {
  display: flex;
  height: 400px;

  @include media(desktop) {
    height: 800px;
  }

  img {
    width: 230px;
    height: 270px;
    position: absolute;
    top: 70%;
    right: 0;
    border-radius: 10px;

    @include media(desktop) {
      width: 600px;
      height: 800px;
      top: 50%;
      right: 0;
    }
  }
}

.address-location {
  display: flex;
  flex-direction: column;
  color: #233000;
  @include font(18, 30);
  width: 345px;
  font-weight: 600;
  position: absolute;
  top: 60%;
  left: 0%;

  @include media(desktop) {
    @include font(32, 48);
    font-weight: 700;
    bottom: 15%;
    justify-content: center;
    align-items: center;
    width: 600px;
  }

  a {
    color: #9caa00;
    line-height: 1.6;
    @include media(desktop) {
      margin-bottom: 33px;
    }
  }
}

// .btn-map {
//   width: 176px;
//   padding-top: 20px;
//   background-color: transparent;
//   padding-bottom: 20px;
//   border: 1px #233000 solid;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
//   display: inline-flex;
//   color: black;
//   @include font(32, 48);
//   font-family: Rufina;
//   font-weight: 700;
//   word-wrap: break-word;
//   transition: background-color 0.3s ease, transform 0.2s ease;
// }

// .btn-map:hover,
// .btn-map:focus {
//   background-color: rgba(235, 240, 228, 1);
// }

// .btn-map:active {
//   transform: scale(0.98);
//   background-color: rgba(235, 240, 228, 1);
// }
