.gallery {
  padding-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 130px;
  position: relative;
  h2 {
    @include font(108, 120);
  }
}

.swiper {
  width: 100%;
  margin: auto;
}

.swiper-slide img {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  z-index: 10;
  width: 70px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
