.gallery {
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ebf0e4;
  gap: 80px;
  position: relative;

  @include media(desktop) {
    gap: 100px;
  }
  h2 {
    @include font(56, 60);
    @include media(desktop) {
      @include font(108, 120);
    }
  }
}

.swiper {
  width: 100%;
  margin: auto;
}

.swiper-slide img {
  width: 340px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  @include media(desktop) {
    width: 600px;
    height: 400px;
  }
}

.gallery .swiper-button-next,
.gallery .swiper-button-prev {
  display: none;

  @include media(desktop) {
    top: 65%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 10;
    width: 70px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}
