.home {
  padding-top: 200px;
  padding-bottom: 162px;

  background-color: rgba(35, 48, 0, 1);
  color: white;
  width: 100%;
}

.home .container {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.wrapper-title-home {
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  z-index: 1;

  h1 {
    text-align: start;
    @include font(120, 130);
    font-weight: 500;
    width: 800px;
  }
  h2 {
    text-align: end;
    @include font(50, 60);
    font-weight: 500;
    width: 600px;
  }
  img {
    position: absolute;
    top: 15%;
    right: -5%;
    z-index: -1;
    width: 690px;
    height: 730px;
    opacity: 0.8;
  }
}

.wrapper-content {
  display: flex;
  justify-content: space-between;
  img {
    opacity: 0.9;
  }
}

.place {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 700px;
  height: 500px;

  h3 {
    @include font(48, 64);
    font-weight: 700;
  }
}

.lamp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 450px;
}
