.home {
  padding-top: 120px;
  padding-bottom: 162px;
  background-color: rgba(35, 48, 0, 1);
  color: white;
  width: 100%;
  @include media(desktop) {
    padding-top: 180px;
  }
}

.home .container {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include media(desktop) {
    gap: 200px;
  }
}

.wrapper-title-home {
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
  z-index: 1;

  @include media(desktop) {
    gap: 60px;
  }

  h1 {
    @include font(48, 60);
    font-weight: 600;
    width: 330px;
    text-align: start;

    @include media(desktop) {
      @include font(120, 130);
      width: 800px;
      font-weight: 500;
    }
  }

  h2 {
    @include font(28, 38);
    text-align: start;
    width: 300px;
    font-weight: 500;
    @include media(desktop) {
      @include font(50, 80);
      text-align: end;
      width: 600px;
    }
  }

  img {
    position: absolute;
    top: 12%;
    right: 0%;
    z-index: -3;
    width: 280px;
    height: 260px;
    opacity: 0.2;

    @include media(desktop) {
      width: 690px;
      height: 730px;
      top: 15%;
      right: -3%;
    }
  }
}

.wrapper-content {
  display: flex;
  flex-direction: column;

  gap: 40px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  img {
    opacity: 0.9;
  }
}

.place {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 340px;
  height: 500px;
  @include media(desktop) {
    width: 700px;
    height: 500px;
  }

  h3 {
    @include font(28, 38);
    font-weight: 700;

    @include media(desktop) {
      @include font(48, 64);
    }
  }
}

.lamp {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 340px;

  p {
    order: 2;
  }

  img {
    order: 1;
  }
  @include media(desktop) {
    width: 450px;
    p {
      order: 1;
    }

    img {
      order: 2;
    }
  }
}
