.story {
  padding-top: 150px;
  padding-bottom: 247px;
  display: flex;
  flex-direction: column;
  background: #ebf0e4;
  width: 100%;

  h2 {
    margin-bottom: 30px;
    text-align: center;
    @include font(42, 50);

    @include media(desktop) {
      width: 1250px;
      margin-bottom: 30px;
      text-align: right;
      @include font(108, 120);
    }
  }
}

.story .container {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.svg-wrapper-top {
  position: absolute;
  top: -2%;
  right: 0%;
  z-index: 1;
  width: 200px;
  height: 280px;
  opacity: 0.5;

  @include media(desktop) {
    top: 10%;
    left: 2%;
    width: 406px;
    height: 336px;
  }
}

.wrapper-text-story {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    gap: 60px;
  }
}

.image-mahlzeit {
  display: none;
  @include media(desktop) {
    display: flex;
    align-items: center;
    z-index: 2;

    img {
      width: 735px;
      height: 600px;
      border-radius: 10px;
    }
  }
}

.container-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 330px;
  z-index: 2;

  @include media(desktop) {
    width: 900px;
  }
  p {
    text-align: justify;
    color: #4d4d4d;
    word-wrap: break-word;
    line-height: 1.6;
  }
}

.svg-wrapper-bottom {
  position: absolute;
  bottom: -10%;
  right: 2%;
  z-index: 10;
  opacity: 0.5;
  width: 300px;
  height: 280px;

  @include media(desktop) {
    bottom: -20%;
    right: 0;
    width: 495px;
    height: 430px;
  }
}
